doctype html
html(lang='en')
head
    title CacheCohSimWeb
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    body

.row 
    .col 
        .container
            h1 Snoop-based Cache Coherence Simulator
            .row
            .col-lg-2(style='background-color:chocolate;') 
                h4.text-left Cache line #1
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .row
            .col-lg-2(style='background-color:white;') 
                p
            .row
            .col-lg-2(style='background-color:chocolate;') 
                h4.text-left Cache line #2
            .col-lg-1(style='background-color:sandybrown;') 
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite ;')
                h4.text-center I
            .row
            .col-lg-2(style='background-color:white;') 
                p
            .row
            .col-lg-2(style='background-color:Orange;') M - modified
            .row
            .col-lg-2(style='background-color:Orange;') O - owned
            .row
            .col-lg-2(style='background-color:Orange;') E - exclusive
            .row
            .col-lg-2(style='background-color:Orange;') S - shared
            .row
            .col-lg-2(style='background-color:Orange;') I - invaid
    .col 
        .container
            h1 Snoop-based Cache Coherence Simulator
            .row
            .col-lg-2(style='background-color:chocolate;') 
                h4.text-left Cache line #1
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .row
            .col-lg-2(style='background-color:white;') 
                p
            .row
            .col-lg-2(style='background-color:chocolate;') 
                h4.text-left Cache line #2
            .col-lg-1(style='background-color:sandybrown;') 
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite;')
                h4.text-center I
            .col-lg-1(style='background-color:sandybrown;')
                h4.text-center I
            .col-lg-1(style='background-color:navajowhite ;')
                h4.text-center I
            .row
            .col-lg-2(style='background-color:white;') 
                p
            .row
            .col-lg-2(style='background-color:Orange;') M - modified
            .row
            .col-lg-2(style='background-color:Orange;') O - owned
            .row
            .col-lg-2(style='background-color:Orange;') E - exclusive
            .row
            .col-lg-2(style='background-color:Orange;') S - shared
            .row
            .col-lg-2(style='background-color:Orange;') I - invaid


